.l-contents__sidebar{
    width: 20%;
    min-height: 100vh;
    background-color: #F2EDE9;
    position: relative;
    z-index: 50;
    @include tab{
        width: 30%;
        display: none;
        
    }
    @include sp{
        width: 100%;
    }
    }



